[user]
	email = mail@sevanspowell.net
	name = Samuel Evans-Powell
	signingkey = 0x6504B986D4D056D4
[core]
	excludesfile = ~/.gitignore_global
[github]
	user = sevanspowell
[gitlab]
	user = sam900
[commit]
	gpgsign = true
[alias]
	logs = log --show-signature
[gpg]
	program = gpg
[safe]
        directory = /srv/network